<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.grilservice.radio.overlay">
    <application android:extractNativeLibs="true" android:hasCode="false" />
    <overlay android:targetPackage="com.google.android.grilservice"
             android:priority="0"
             android:isStatic="true" />
</manifest>
